# ##############################################################################

# iCEcube PCF

# Version:            2014.12.27052

# File Generated:     Apr 27 2015 09:46:33

# Family & Device:    iCE40HX1K

# Package:            VQ100

# ##############################################################################

### Main FPGA Clock
set_io i_clk 15

### LED Pins:
set_io o_led1 56
set_io o_led2 57
set_io o_led3 59
set_io o_led4 60

## Push-Button Switches
set_io i_sw1 53
set_io i_sw2 51
set_io i_sw3 54
set_io i_sw4 52

### 7 Segment Outputs
set_io o_seg1a 3
set_io o_seg1b 4
set_io o_seg1c 93
set_io o_seg1d 91
set_io o_seg1e 90
set_io o_seg1f 1
set_io o_seg1g 2
set_io o_seg2a 100
set_io o_seg2b 99
set_io o_seg2c 97
set_io o_seg2d 95
set_io o_seg2e 94
set_io o_seg2f 8
set_io o_seg2g 96

## UART Outputs
set_io i_uartRx 73
set_io o_uartTx 74

## VGA Outputs
set_io o_vgaHSync 26
set_io o_vgaVSync 27
set_io o_vgaR0 36
set_io o_vgaR1 37
set_io o_vgaR2 40
set_io o_vgaG0 29
set_io o_vgaG1 30
set_io o_vgaG2 33
set_io o_vgaB0 28
set_io o_vgaB1 41
set_io o_vgaB2 42

## PMOD Signals
set_io io_pmod1 65
set_io io_pmod2 64
set_io io_pmod3 63
set_io io_pmod4 62
set_io io_pmod7 78
set_io io_pmod8 79
set_io io_pmod9 80
set_io io_pmod10 81
